<section class="section no-pdy overflow-hidden section-contact bg-transparent has-ovm" id="contact">
    <div class="container">
        <div class="nk-block block-contact animated" data-animate="fadeInUp" data-delay=".9">
            <div class="row justify-content-center g-0">
                <div class="col-lg-6">
                    <div class="contact-wrap split split-left split-lg-left bg-white">
                        <h5 class="title title-md">Liên hệ với chúng tôi</h5>
                        <form  action="/questions" method="post">
                            <div class="field-item"><input name="name" type="text" class="input-line required"><label class="field-label field-label-line">Họ và tên</label></div>
                            <div class="field-item"><input name="email" type="email" class="input-line required email"><label class="field-label field-label-line">Địa chỉ email</label></div>
                            <div class="field-item"><textarea name="contact-message" class="input-line input-textarea required"></textarea><label class="field-label field-label-line">Nội dung tin nhắn</label></div>
                            <input type="text" class="d-none" name="form-anti-honeypot" value="">
                            <div class="row">
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-grad">Gửi</button>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-results"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-wrap split split-right split-lg-right bg-genitian bg-theme tc-light">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <ul class="contact-list">
                                <li><em class="contact-icon fas fa-building"></em>
                                    <div class="contact-text">
                                        <h6><%-settings.WEBSITE_NAME%></h6><span>728 Dooley Branch <br> Beckershire, LA 63598</span>
                                    </div>
                                </li>
                                <li><em class="contact-icon fas fa-phone"></em>
                                    <div class="contact-text"><span>+44 1773554430</span></div>
                                </li>
                                <li><em class="contact-icon fas fa-envelope"></em>
                                    <div class="contact-text"><span>support@exchangecrytoon.com</span></div>
                                </li>
                            </ul>
                            <div class="contact-social">
                                <h6>Tham gia cộng đồng của chúng tôi</h6>
                                <ul class="social-links">
                                    <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                                    <li><a href="#"><em class="fab fa-telegram"></em></a></li>
                                    <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                    <li><a href="#"><em class="fab fa-youtube"></em></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-ovm ovm-top ovm-h-60 bg-light"></div>
</section>