<section class="section section-footer tc-light bg-transparent">
    <div class="container">
        <div class="nk-block block-footer mgb-m30">
            <div class="row">
                <div class="col-lg-2 col-sm-4">
                    <div class="wgs wgs-menu animated" data-animate="fadeInUp" data-delay=".2">
                        <h6 class="wgs-title">Về chúng tôi</h6>
                        <div class="wgs-body">
                            <ul class="wgs-links">
                                <li><a href="/#about">Giới thiệu</a></li>
                                <li><a href="/terms">Thỏa thuận người dùng</a></li>
                                <li><a href="/privacy-policy">Chính sách bảo mật</a></li>
                                <li><a href="/risk">Công bố rủi ro</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <div class="wgs wgs-menu animated" data-animate="fadeInUp" data-delay=".3">
                        <h6 class="wgs-title">Mua Tiền điện tử</h6>
                        <div class="wgs-body">
                            <ul class="wgs-links">
                                <li><a href="/login">Mua Bitcoin</a></li>
                                <li><a href="/login">Mua Ethereum</a></li>
                                <li><a href="/login">Mua XRP</a></li>
                                <li><a href="/login">Mua Solana</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <div class="wgs wgs-menu animated" data-animate="fadeInUp" data-delay=".4">
                        <h6 class="wgs-title">Liên kết nhanh</h6>
                        <div class="wgs-body">
                            <ul class="wgs-links">
                                <li><a href="/#faq">Câu hỏi thường gặp</a></li>
                                <li><a href="/signup">Đăng ký</a></li>
                                <li><a href="/login">Đăng nhập</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="wgs wgs-text animated fadeInUp" data-animate="fadeInUp" data-delay=".1" style="visibility: visible; animation-delay: 0.1s;">
                        <div class="wgs-body">
                            <a href="./" class="wgs-logo">
                                <img src="front/images/logo-full-white.png" srcset="front/images/logo-full-white2x.png 2x" alt="logo">
                            </a>
                            <p>Bản quyền © <%= new Date().getFullYear() %> <%-settings.WEBSITE_NAME%>. <br> Đã đăng ký Bản quyền.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>