<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="shortcut icon" href="front/images/favicon.png">
    <title>EXC CRYPTO - EXCHANGE CRYPTO - BUY CRYPTO - SELL CRYPTO</title>
    <link rel="stylesheet" href="front/assets/css/vendor.bundle.css?ver=210">
    <link rel="stylesheet" href="front/assets/css/style.css?ver=210" id="changeTheme">
    <link rel="stylesheet" href="front/assets/css/theme.css?ver=210">
</head>