<nav class="navbar navbar-expand-xl py-lg-3 lp-menu">
    <div class="container py-2 rounded">
        <a class="navbar-brand fw-bold fs-3" href="/" title="Logo"><i class="fa fa-gg-circle fs-3 text-primary pe-2"></i>Cryptoon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false">
            <span class="navbar-toggler-icon"><i class="fa fa-menu"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link me-2 page-scroll" href="#Partners">Đối Tác Của Chúng Tôi</a></li>
                <li class="nav-item"><a class="nav-link me-2 page-scroll" href="#Market">Thị Trường</a></li>
                <li class="nav-item"><a class="nav-link me-2 page-scroll" href="#get-touch">Liên Hệ</a></li>
                <li class="nav-item"><a class="nav-link me-2 page-scroll" href="#Contact">Liên Lạc</a></li>
            </ul>
            <form class="d-flex">
                <a href="/login" target="_blank" title="login" class="btn text-uppercase mx-sm-1 py-2">Đăng Nhập</a>
                <a href="/signup" target="_blank" title="Register" class="btn btn-primary rounded text-uppercase py-2">Đăng Ký</a>
            </form>
        </div>
    </div>
</nav>