<!DOCTYPE html>
<html lang="zxx">

<% include ./common/ejs/front/head.ejs%>

<body class="">

<div class="nk-wrap">
    <% include ./common/ejs/front/body-head.ejs%>
    <main class="nk-pages">


        <section class="section bg-light section-about">
            <h3 class="text-center text-success">Email của bạn đã được xác thực thành công. <a href="/login" class="custom-link"> <i>Nhấn vào đây</i></a> để đăng nhập</h3>
        </section>
    </main>
    <% include ./common/ejs/front/footer.ejs%>
</div>

<div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="front/images/logo-full-white.png" alt=""></span></div>

<script src="front/assets/js/jquery.bundle.js?ver=210"></script>
<script src="front/assets/js/scripts.js?ver=210"></script>
<script src="front/assets/js/charts.js?ver=210"></script>

<%-settings.TIDIO_URL%>
</body>

</html>