<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<% include ./resources/common/ejs/head.ejs %>
<body>
<div id="cryptoon-layout" class="theme-orange">
    <div class="main p-2 py-3 p-xl-5">

        <div class="container-xxl">
            <div class="row align-items-center">
                <div class="col">
                    <a href="/dashboard" class="d-flex align-item-center">
                         <img src="/front/images/logo.png" srcset="/front/images/logo2x.png 2x" alt="logo" class="logo-img">
                    </a>
                </div>
            </div>
        </div>


        <div class="body d-flex p-0 p-xl-5">
            <div class="container-xxl">
                <div class="row g-3 align-items-center">
                    <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-h100">
                        <img src="/assets/images/not_found.svg" class="img-fluid" alt="#"/>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-center align-items-center auth-h100 flex-column">
                        <div class="card" style="max-width: 30rem;">
                            <div class="card-body p-4">
                                <h1 class="display-1">Lỗi 404</h1>
                                <span class="text-muted">Trang bạn đang tìm kiếm không tồn tại hoặc đã bị di chuyển.</span>
                                <a href="/" title="Trang chủ" class="btn btn-primary text-uppercase py-2 fs-5 mt-3 d-block">Quay về trang chủ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>