<div class="footer">
    &copy; <%= new Date().getFullYear() %>
    <% try { %>
        <%= DOMAIN_WEBSITE %>
    <% } catch (error) { %>

    <% } %>
    . Tất cả quyền đã được bảo lưu.
</div>