<div class="header sticky-top header-fix">
    <nav class="navbar py-4">
        <div class="container-xxl">
            <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
                <div class="navbar-brand">
                    <a class="navbar-brand fw-bold fs-3" href="/dashboard" title="Logo" >
                        <img class="logo-img" src="/front/images/logo.png" srcset="/front/images/logo2x.png 2x" alt="logo">
                    </a>
                </div>
                <div class="d-flex align-items-center mr-5 mr-lg-0 order-1">
                    <div class="d-flex">
                        <a class="nav-link text-primary collapsed" href="/wallet" title="Wallet">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 64 64">
                                <linearGradient id="crp_svg" gradientUnits="userSpaceOnUse" x1="14.3389" y1="21.4468" x2="52.4467" y2="59.5546">
                                    <stop  offset="0" class="st2"/>
                                    <stop  offset="1" class="st3"/>
                                </linearGradient>
                                <path class="st1" d="M15,24c-3.86,0-7,2.691-7,6v20c0,3.309,3.14,6,7,6h41V32H15c-1.598,0-3-0.935-3-2s1.402-2,3-2h5.25
                                                    c0,0,1-5,5.75-5s6,5,6,5h22v-4H15z"/>
                                <path class="st0" d="M42,4c-4.418,0-8,3.582-8,8s3.582,8,8,8c4.417,0,8-3.582,8-8S46.417,4,42,4z M42,16c-2.208,0-4-1.792-4-4
                                                    s1.792-4,4-4s4,1.792,4,4S44.208,16,42,16z"/>
                                <path class="st0" d="M26,20c-4.418,0-8,3.582-8,8h4c0-2.208,1.792-4,4-4s4,1.792,4,4h4C34,23.582,30.418,20,26,20z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
                        <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                            <img class="avatar lg rounded-circle img-thumbnail" src="/assets/images/profile_av.svg" alt="profile">
                        </a>
                        <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                            <div class="card border-0 w280">
                                <div class="card-body pb-0">
                                    <div class="d-flex py-1">
                                        <img class="avatar rounded-circle" src="<%=settings.user.avatar%>" alt="profile">
                                        <div class="flex-fill ms-3">
                                            <p class="mb-0">
                                                <span class="font-weight-bold"><%=settings.user.full_name%></span>
                                            </p>
                                            <small class=""><%=settings.user.email%></small>
                                        </div>
                                    </div>
                                    <div>
                                        <hr class="dropdown-divider border-dark">
                                    </div>
                                </div>
                                <div class="list-group m-2">
                                    <a href="/profile" class="list-group-item list-group-item-action border-0">
                                        <i class="icofont-ui-user fs-5 me-3"></i>Trang cá nhân
                                    </a>
                                    <a href="/identification" class="list-group-item list-group-item-action border-0">
                                        <i class="icofont-check-circled fs-5 me-3"></i>Trung tâm xác minh
                                    </a>
                                    <a href="/logout" class="list-group-item list-group-item-action border-0">
                                        <i class="icofont-logout fs-5 me-3"></i>Đăng xuất
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="setting ms-2">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#Settingmodal">
                            <svg xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" width="30px" height="30px" viewBox="0 0 38 38">
                                <path   d="M19,28c-4.964,0-9-4.04-9-9c0-4.964,4.036-9,9-9c4.96,0,9,4.036,9,9  C28,23.96,23.96,28,19,28z M19,16c-1.654,0-3,1.346-3,3s1.346,3,3,3s3-1.346,3-3S20.654,16,19,16z" style="fill:var(--primary-color);" data-st="fill:var(--chart-color4);"></path>
                                <path class="st0" d="M19,24c-2.757,0-5-2.243-5-5s2.243-5,5-5s5,2.243,5,5S21.757,24,19,24z M19,16c-1.654,0-3,1.346-3,3  s1.346,3,3,3s3-1.346,3-3S20.654,16,19,16z M32,19c0-1.408-0.232-2.763-0.648-4.034l3.737-1.548l-0.766-1.848l-3.743,1.551  c-1.25-2.452-3.251-4.452-5.702-5.701l1.551-3.744l-1.848-0.765l-1.548,3.737C21.762,6.232,20.409,6,19,6  c-1.409,0-2.756,0.248-4.026,0.668l-1.556-3.756L11.57,3.677l2.316,5.592C15.416,8.462,17.154,8,19,8c6.065,0,11,4.935,11,11  s-4.935,11-11,11S8,25.065,8,19c0-3.031,1.232-5.779,3.222-7.771L9.808,9.816c-0.962,0.963-1.764,2.082-2.388,3.306l-3.744-1.551  l-0.765,1.847l3.738,1.548C6.232,16.238,6,17.592,6,19c0,1.409,0.232,2.763,0.648,4.034l-3.737,1.548l0.766,1.848l3.744-1.551  c1.25,2.451,3.25,4.451,5.701,5.7l-1.551,3.744l1.848,0.766l1.548-3.737C16.237,31.768,17.591,32,19,32s2.762-0.232,4.033-0.648  l1.549,3.737l1.848-0.766l-1.552-3.743c2.451-1.25,4.451-3.25,5.701-5.701l3.744,1.551l0.765-1.848l-3.736-1.548  C31.768,21.763,32,20.409,32,19z"></path>
                            </svg>
                        </a>
                    </div>

                </div>
                <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button" data-bs-toggle="collapse" data-bs-target="#mainHeader">
                    <span class="fa fa-bars"></span>
                </button>
            </div>
        </div>
    </nav>
</div>