<!--<footer class="footer">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-6">-->
<!--                <p>&copy; 2014 - <%= new Date().getFullYear() %> Cryptoon. Tất cả các quyền được bảo lưu.</p>-->
<!--            </div>-->
<!--            <div class="col-md-6 text-md-end">-->
<!--                <ul class="list-inline">-->
<!--                    <li class="list-inline-item"><a href="/privacy-policy">Chính sách bảo mật</a></li>-->
<!--                    <li class="list-inline-item"><a href="/privacy-policy">Điều khoản dịch vụ</a></li>-->
<!--                    <li class="list-inline-item"><a href="/privacy-policy">Chính sách cookie</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->