<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> <%-settings.WEBSITE_NAME%> </title>
    <link rel="shortcut icon" href="front/images/favicon.png">
    <link rel="stylesheet" href="/assets/plugin/datatables/responsive.dataTables.min.css">
    <link rel="stylesheet" href="/assets/plugin/datatables/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/assets/css/cryptoon.style.min.css">
</head>
